/**
** Main body
**/

body {width: 100vw; height: auto; margin: 0; padding: 0; z-index: 1; text-rendering: optimizeSpeed !important; overflow-x: hidden; 
  scroll-behavior: smooth; background: rgb(240,240,240); opacity: 1}

svg {fill: rgb(222, 226, 230)}

body::-webkit-scrollbar {width: 0.35vw}

body::-webkit-scrollbar-thumb {
  background-color: rgba(253,164,79,.75);
}

[header--info] {font-family: 'Segoe Bl'}

/**
** Select types
**/

[unselectable] {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none}

/**
** Standart fonts
**/

@font-face {
  font-family: 'Segoe Lt';
  src: URL('fonts/segoelt.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe Bl';
  src: URL('fonts/segoebl.ttf') format('truetype');
}

/**
** Main section
**/

section.main[role="main"][handler] {width: 100%; display: block; z-index: 1; position: relative}
section.main[role="main"][handler]>*[element] {width: 100%; height: auto; padding: 0; margin: 0; z-index: 1; overflow: hidden}

/**
** Main header
**/

section.main[role="main"][handler]>header.main__header {width: 100%; position: fixed; background: rgba(33,33,40,.95)}
header.main__header>section.bottom__header {display: inline-block; width: 100%; height: 4.5vh; background: white; overflow: hidden}
header.main__header>section.top__header {display: inline-block; width: 100%; height: 6.5vh; overflow: hidden}
header.main__header>section.top__header>.main__header__big {width: 65%; height: 100%; display: inline-block}
header.main__header>section.top__header>.main__header__little {float: right; height: 100%; display: inline-flex; align-items: center; align-content: center; text-align: center}
.main__header__big>.header__big__navigation {margin: 0 0%; padding: 0; height: 100%; display: inline-block}
.header__big__navigation>.navigation__children {margin: 0 0.5vw; padding: 0 0.5vw; height: 100%; display: inline-flex; align-items: center;
  align-content: center; text-align: center; overflow: hidden; color: white; float: left; text-decoration: none}
.header__big__navigation>.navigation__children--link:hover {background: rgba(24,24,40,.65); color: white}
.header__big__navigation>.navigation__children--header {font-family: 'Segoe Bl'; outline: none; margin-right: 0; font-weight: bolder; font-size: calc(100vw - 99.1vw)}
.header__big__navigation>.navigation__children--link {font-family: 'Segoe Lt'; outline: none; color: rgba(255,255,255,.6); font-size: calc(100vw - 99.1vw); cursor: pointer; transition: 450 background}

.main__header__little>input.header__little__input {padding: 0.5vh 0.35vw; height: 70%; float: right; width: 75%; outline: none; border: solid 2px white; cursor: pointer; border-radius: 5px}
.main__header__little>input.header__little__input--button {margin: 0 0.5vw; margin-right: 1.5vw; font-family: 'Segoe Lt'; padding-left: 0.75vw; padding-right: 0.75vw; font-weight: bolder; width: auto;
  color: rgb(40, 167, 69); background: none; border: solid 2px rgb(40, 167, 69); transition: 450ms background, color, border}
.main__header__little>input.header__little__input--button:hover {background: rgb(40, 167, 69); color: white}

section.bottom__header>.header__big__navigation {margin: 0 0%; padding: 0; height: 100%; color: rgba(33,33,33,.85); display: inline-block}
section.bottom__header>.header__big__navigation>a {height: 100%; margin: 0; color: rgba(33,33,33,.85); transition: 450ms color}
section.bottom__header>.header__big__navigation>a.navigation__children--link:hover {background: none; color: rgb(0, 123, 255) !important}

/**
** Main article
**/

article[element]>section.element__blog {width: 60%; margin: 13.5vh 20%; margin-bottom: 0}
section.element__blog>.element__blog__item {width: 100%; height: 7.5vw; margin: 2.5vh 0; box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); padding: 1vh 1vw; background: white; border-radius: 5px}
section.element__blog>.element__blog__item--first {background: rgba(255,150,50,.85); margin-bottom: 2vh}
.element__blog__item--first>.blog__item__icon {display: inline-block; float: left}
.element__blog__item--first>.blog__item__description {display: inline-flex; padding: 0 1vw; float: left; height: 100%; justify-content: center; align-items: center; align-content: center}
.element__blog__item--first>.blog__item__description>h1 {font-size: calc(100vh - 97vh); font-family: 'Segoe Bl'; font-weight: bolder; color: white}
.element__blog__item--first>.blog__item__description>h1>span {display: block; font-family: 'Segoe Lt'; font-size: calc(100vh - 98.5vh); color: rgba(255,255,255,.75)}

.element__blog__item--news>h3 {font-family: 'Segoe Lt'; width: 100%; font-weight: bolder; padding-bottom: 0.5vh; margin-bottom: 1.5vh;
  margin-top: 0.5vh; border-bottom: 1px solid rgb(222, 226, 230) !important}
.element__blog__item--news>.blog__item__post {width: 100%; display: block; overflow: hidden; min-height: 6%; margin: 2vh 0}
.blog__item__post>.item__post__rating {width: 2vw; height: 2vw; float: left; padding: 0 0.25vw; justify-content: center; align-items: center; align-content: center; display: inline-flex; flex-direction: column}
.blog__item__post>.item__post__rating>svg {width: 100%; padding: 0.45vh 0; display: inline-block; fill: rgb(222, 226, 230); transition: 150ms fill; cursor: pointer}

.blog__item__post>.item__post__rating>svg.rating-up:hover {fill: rgb(0,255,0,.45) !important}
.blog__item__post>.item__post__rating>svg.rating-down:hover {fill: rgb(255,0,0,.45) !important}

.blog__item__post>.item__post__info {width: 95%; height: 5vh; display: inline-flex; text-align: left; align-items: center; font-family: 'Segoe Lt'; align-content: center; float: right}
.blog__item__post>.item__post__info:after {content: ''; clear: both}
.item__post__info>.post__info__inner {display: block; width: 100%; padding-bottom: 0.75vh; border-bottom: 1px solid rgb(222, 226, 230) !important}
.item__post__info>.post__info__inner>h3 {font-family: 'Segoe Lt'; margin: 0; font-size: calc(100vh - 98.1vh); padding: 0; line-height: 90%}
.item__post__info>.post__info__inner>span {font-size: calc(100vh - 98.35vh); margin-top: 0}

/**
** Blog elements
**/

section.element__blog>.element__blog__item>.blog__item__tip {display: block; text-align: right; font-family: 'Segoe Lt'; color: rgb(0, 123, 255); text-decoration: none;
  cursor: pointer}

section.hidden {display: none}

section.element__blog>.blog__auth {width: 85%; margin: 7.5vh 7.5%; display: inline-flex; flex-direction: row; margin-bottom: 0}
section.element__blog>.blog__auth>.auth__part {width: 50%; display: inline-block}
section.element__blog>.blog__auth>.auth__part>.part__text {width: 100%; box-sizing: border-box; padding: 1vh 1vw; text-align: center}
.blog__auth>.auth__part>.part__text>h3 {font-family: 'Segoe Bl'; margin: 0; font-size: calc(100vw - 98.65vw)}
.blog__auth>.auth__part>.part__text>span {font-family: 'Segoe Lt'; display: block; margin-bottom: 5vh}
.blog__auth>.auth__part>.part__text>img {margin-bottom: 5vh; display: inline-block; justify-content: center; align-items: center}
.blog__auth>.auth__part>.part__text>span[tip] {font-family: 'Segoe Bl'; color: rgba(33,33,33,.75); font-size: calc(100vw - 99.1vw)}

.blog__auth>.auth__part>.part__workspace {width: 75%; float: right; height: 100%; display: inline-block}
.part__workspace>.part__workspace__block {width: 100%; padding: 2.5vh 1.5vw; box-sizing: border-box;
  background: white; border-radius: 5px; border: solid 1px rgba(33,33,33,.15); margin-bottom: 2vh; text-align: center}
.part__workspace>.part__workspace__block>.errorlist {list-style: none; padding: 0; margin: 0; display: inline-block; margin-bottom: 1vh}
.part__workspace>.part__workspace__block>.errorlist>li {display: block; background: rgb(253,164,79); border: solid 1px rgba(33,33,33,.15); border-radius: 5px; font-size: calc(100vw - 99.2vw);
  font-family: 'Segoe Lt'; color: white; padding: 0.5vh 0.75vw}
.part__workspace>.part__workspace__block>.workspace__block__input {padding: 1vh 0.35vw; width: 100%; display: block; margin-bottom: 1vh; outline: none; border: solid 1px rgba(33,33,33,.15); cursor: pointer; border-radius: 5px}
.part__workspace>.part__workspace__block>.workspace__block__input--button {background: rgb(253,164,79); color: white}
.part__workspace>.part__workspace__block>h3 {text-align: center; font-family: 'Segoe Bl'; margin-bottom: 0; line-height: 90%}
.part__workspace>.part__workspace__block>span {display: block; text-align: center; font-family: 'Segoe Lt'; font-size: calc(100vw - 99.15vw); margin-bottom: 2vh}

section.element__blog>.element__blog__item>.blog__item__workspace {padding: 0.1vh 1vw; display: block}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__userspace {display: block; padding: 1vh 0.75vw; padding-top: 0}
section.element__blog>.element__blog__item>.blog__item__workspace>h2 {display: block; font-family: 'Segoe Lt'; text-align: center; margin: 0; margin-bottom: 1vh}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row {display: inline-flex; width: 100%}
.element__blog__item>.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row>.workspace__userspace__block {width: 50%; padding: 0; margin: 0.5vh 0.5vw; 
  border: solid 1px rgba(33,33,33,.75); height: auto; border-radius: 2.5px}
.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row>.workspace__userspace__block>h3 {font-family: 'Segoe Bl'; background: rgba(33,33,33,.05); color: rgba(33,33,33,.85);
  display: block; text-align: center; margin: 0; padding: 0.5vh 0; font-size: calc(100vw - 98.75vw)}
.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row>.workspace__userspace__block>span {font-family: 'Segoe Lt'; color: rgba(33,33,33,.75); width: 90%; padding: 0.5vh 5%;
  display: block; text-align: center}
.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row>.workspace__userspace__block>button {width: 80%; margin: 0 10%; margin-bottom: 1vh; 
  margin-top: 0.5vh; transition: 450ms background, color; display: block; border: none; padding: 0.85vh 0; background: rgba(33,33,33,.05); font-weight: bolder; border-radius: 5px; 
  outline: none}
.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row>.workspace__userspace__block>button:hover {background: rgba(33,33,33,.1); cursor: pointer}
.blog__item__workspace>.item__workspace__userspace>.workspace__userspace__row>.workspace__userspace__block>button[selected="true"] {background: rgba(0,255,0,.5); color: white}
section.element__blog>.element__blog__item>.blog__item__workspace>h3 {font-family: 'Segoe Lt'; margin: 0 0 1vh 0}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part {padding: 1vh 1vw; margin-bottom: 1.5vh; display: block; background-size: cover !important;
  background-position: 50% 50% !important; border-radius: 2.5px}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part>h2 {font-family: 'Segoe Bl'; margin: 0; color: white}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part>span {font-family: 'Segoe Lt'; color: rgb(204,204,204)}

section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part>.workspace__part__hidden>span {font-family: 'Segoe Lt'; color: rgb(204,204,204)}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part>.workspace__part__hidden>span[full] {display: none}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part>.workspace__part__hidden>span>button {border: none; background: none; font-family: 'Segoe Lt';
  color: rgb(204,204,204); font-weight: bolder; cursor: pointer}

.element__blog__item>.blog__item__workspace>.item__workspace__part>.workspace__part__info {display: block; margin-top: 1vh; margin-bottom: -1vh; padding: 0.5vh 1vw;
  box-sizing: border-box; background: white; border-radius: 5px 5px 0 0}
.blog__item__workspace>.item__workspace__part>.workspace__part__info>.workspace__part__info__get {width: 40%; display: inline-flex; padding: 0.5vh 1vw; box-sizing: border-box;
  margin: 0 30%; float: right; margin-left: 0; flex-direction: row; justify-content: center; lign-items: center; align-content: center}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction {font-family: 'Segoe Lt'; display: inline-block; padding: 0 0.75vw}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button {background: none; transition: 450ms color; font-size: calc(100vw - 99vw); font-family: 'Segoe Lt';
  display: inline-block; padding: 0; margin: 0; border: none}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button:hover {outline: none; cursor: pointer}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button[data="like"][selected="true"] {outline: none; cursor: pointer;
  color: rgba(33,255,33,.65) !important}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button[data="view"][selected="true"] {outline: none; cursor: pointer;
  color: rgba(33,33,33,.25) !important}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button[data="dislike"][selected="true"] {outline: none; cursor: pointer;
  color: rgba(255,33,33,.65) !important}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button>i:before {line-height: 75%; margin: 0 0.1vw; padding: 0 0.1vw}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>button>i>span {display: inline-block; font-style: normal !important; font-size: calc(100vw - 99vw);
  padding: 0 0.15vw}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>a {background: none; cursor: pointer; color: rgba(33,33,33,.85); transition: 450ms color;
  font-size: calc(100vw - 99vw); font-family: 'Segoe Lt'; display: inline-block; padding: 0; margin: 0; border: none}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>a:hover {outline: none}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>a[data="like"][selected="true"] {outline: none; cursor: pointer;
  color: rgba(33,255,33,.65) !important}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>a[data="dislike"][selected="true"] {outline: none; cursor: pointer;
  color: rgba(255,33,33,.65) !important}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>a>i:before {line-height: 75%; margin: 0 0.1vw; padding: 0 0.1vw}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction>a>i>span {display: inline-block; font-style: normal !important; font-size: calc(100vw - 99vw);
  padding: 0 0.15vw}
.item__workspace__part>.workspace__part__info>.info__get__url {display: inline-block; margin-top: 0.5vh; font-family: 'Segoe Lt'; padding: 0.5vh 0.75vw; color: white;
  background: rgba(252,163,78,.95); cursor: pointer; border-radius: 15px; transition: 450ms background; transition-duration: 450ms; text-decoration: none}
.item__workspace__part>.workspace__part__info>.info__get__url:hover {background: rgba(252,163,78,.85)}
.item__workspace__part>.workspace__part__info>.workspace__part__info__get>.info__get__reaction:hover {cursor: pointer; color: rgba(252,163,78,.85)}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__part>.workspace__part__tags {margin: 0 -0.5vw; padding: 0.5vh 0; display: block}
.element__blog__item>.blog__item__workspace>.item__workspace__part>.workspace__part__tags>a {display: inline-block; padding: 0.5vh 0.5vw; color: white;
  font-family: 'Segoe Bl'; box-sizing: border-box; text-decoration: none}
section.element__blog>.element__blog__item>.blog__item__workspace>.item__workspace__alert {display: block; padding: 1vh 1vw; background: rgba(255,255,0,.5);
  color: rgb(33,33,33); font-family: 'Segoe Lt'; margin: 0 25%; text-align: center; font-size: calc(100vw - 99vw); border: solid rgba(33,33,33,.25) 1px; border-radius: 5px}

