{% extends "wrapper.html" %}

{% block content %}

  {% load staticfiles %}

  <!-- Main section -->
  <section handler class="main" role="main">

    {% include 'header.html' %}

    <!-- Main element initialization -->
    <article element>

      <section class="element__blog">

        <div class="blog__auth">

          <section class="auth__part" unselectable style="width: 65%">

            <div class="part__text">

              <h3>Информационный сервис Proteus</h3>

              <span>Зарегистрируйтесь в системе для бесплатного использования новостной ленты</span>

              <img width="65%" src="{% static 'css/favicon.png' %}">

              <span tip>Proteus собирает информацию о ваших предпочтениях, но не передаёт её третьим лицам. Вся информация привязывается к вашему аккаунту</span>

            </div>

          </section>

          <section class="auth__part" unselectable>

            <div class="part__workspace">

              <form method="post" action="{% url 'auth' %}" class="part__workspace__block">

                {% csrf_token %}

                <input type="hidden" name="type" value="loginuser">

                {% if saved %}
                <input class="workspace__block__input" placeholder="Введите ваш логин" value="{{saved.login}}" autocomplete="off" name="loginuser-login">

                <input class="workspace__block__input" placeholder="Введите пароль" value="{{saved.password}}" autocomplete="off" name="loginuser-password">

                {% for error in loginuser.non_field_errors %}

                <ul class="errorlist"><li>{{error|escape}}</li></ul>

                {% endfor %}

                <input class="workspace__block__input workspace__block__input--button" type="submit" value="Войти">

                {% else %}
                <input class="workspace__block__input" placeholder="Введите ваш логин" autocomplete="off" name="loginuser-login">

                <input class="workspace__block__input" placeholder="Введите пароль" autocomplete="off" name="loginuser-password">

                <input class="workspace__block__input workspace__block__input--button" type="submit" value="Войти">
                {% endif %}

              </form>

              <form method="post" action="{% url 'auth' %}" class="part__workspace__block" style="padding: 0vh 1.5vw">

                <h3>Нет аккаунта?</h3>

                <span>Быстрая регистрация</span>

                <input type="hidden" name="type" value="newuser">

                {% if newuser %}

                <input class="workspace__block__input" placeholder="Введите ваш логин" value="{{saved.login}}" autocomplete="off" name="newuser-login">
                <input class="workspace__block__input" placeholder="Введите вашу почту" value="{{saved.email}}" type="email" autocomplete="off" name="newuser-email">
                <input class="workspace__block__input" placeholder="Введите пароль" value="{{saved.password}}" autocomplete="off" type="password" name="newuser-password">

                {% else %}

                <input class="workspace__block__input" placeholder="Введите ваш логин" autocomplete="off" name="newuser-login">
                <input class="workspace__block__input" placeholder="Введите вашу почту" type="email" autocomplete="off" name="newuser-email">
                <input class="workspace__block__input" placeholder="Введите пароль" autocomplete="off" type="password" name="newuser-password">

                {% endif %}

                {% for field in newuser %}

                  {% if field.errors %}

                    {{field.errors}}

                  {% endif %}

                {% endfor %}

                {% csrf_token %}

                <input class="workspace__block__input workspace__block__input--button" type="submit" value="Регистрация">

              </form>

            </div>

          </section>

        </div>

      </section>

    </article>

  </section>

{% endblock %}
