<header class="main__header">

  {% load staticfiles %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <section class="top__header">

        <section class="main__header__big">

          <nav class="header__big__navigation" unselectable>

            <a title="Информационная система" tabindex='-1' href="/" class="navigation__children navigation__children--header">

              <div elementType="text">Proteus</div>

            </a>

            {% if not request.COOKIES.login %}
            <a title="Страница авторизации" tabindex='-1' href="/auth" class="navigation__children navigation__children--link">

              <div elementType="text">Авторизация</div>

            </a>
            {% endif %}

            <a title="Последние новости" tabindex='-1' href="/last" class="navigation__children navigation__children--link">

              <div elementType="text">Последние новости</div>

            </a>

            <a title="Популярные новости" tabindex='-1' href="/popular" class="navigation__children navigation__children--link">

              <div elementType="text">Популярное</div>

            </a>

            {% if request.COOKIES.login %}
            <a title="Выход из аккаунта" id="leave" onClick="menuWork.leaveAccount(this)" tabindex='-1' class="navigation__children navigation__children--link">

              <div elementType="text">Выйти из аккаунта</div>

            </a>
            {% endif %}

          </nav>

        </section>

        <form title="Поисковая система" action="{% url 'find' %}" class="main__header__little" method="get">

          <input tabindex="1" class="header__little__input" placeholder="Введите поисковый запрос" name="search" autocomplete="off">

          <input tabindex="2" value="Поиск" class="header__little__input header__little__input--button" type="submit">

        </form>

      </section>

      {% if tags %}

      <section class="bottom__header">

        <nav class="header__big__navigation" unselectable>

          <a title="Список популярных тегов" href="reference" style="margin-left: 0.5vw" class="navigation__children navigation__children--header">

            <div elementType="text">Популярные теги: </div>

          </a>

          {% for tag in tags %}
          <a title="{{tag}}" href="/tags/{{tag.split|join:'-'}}" class="navigation__children navigation__children--link">

            <div elementType="text">{{tag}}</div>

          </a>
          {% endfor %}

        </nav>

      </section>

      {% endif %}

      <!--<script src="{% static 'js/search.js' %}"></script>-->

      <script src="{% static 'js/menu-work.js' %}"></script>

    </header>
