<header class="main__header">

      <section class="top__header">

        <section class="main__header__big">

          <nav class="header__big__navigation" unselectable>

            <a tabindex='-1' href="/" class="navigation__children navigation__children--header">

              <div elementType="text">Proteus</div>

            </a>

            <a tabindex='-1' href="/auth" class="navigation__children navigation__children--link">

              <div elementType="text">Авторизация</div>

            </a>

            <a tabindex='-1' href="/last" class="navigation__children navigation__children--link">

              <div elementType="text">Последние новости</div>

            </a>

            <a tabindex='-1' href="/reference" class="navigation__children navigation__children--link">

              <div elementType="text">Рекомендации</div>

            </a>

          </nav>

        </section>

        <form action="{% url 'find' %}" class="main__header__little" method="get">

          <input tabindex="1" class="header__little__input" placeholder="Введите поисковый запрос" name="search" autocomplete="off">

          <input tabindex="2" value="Поиск" class="header__little__input header__little__input--button" type="submit">

        </form>

      </section>

      {% if tags %}

      <section class="bottom__header">

        <nav class="header__big__navigation" unselectable>

          <a href="reference" style="margin-left: 0.5vw" class="navigation__children navigation__children--header">

            <div elementType="text">Популярные теги: </div>

          </a>

          {% for tag in tags %}
          <a href="/tags/{{tag.split|join:'-'}}" class="navigation__children navigation__children--link">

            <div elementType="text">{{tag}}</div>

          </a>
          {% endfor %}

        </nav>

      </section>

      {% endif %}

    </header>
