{% extends "wrapper.html" %}

{% load staticfiles %}

{% block head %}

<link href="{% static 'css/fontello.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

  <!-- Main section -->
  <section handler class="main" role="main">

    {% include 'header.html' %}

    <!-- Main element initialization -->
    <article element>

      <section class="element__blog">

        <div class="element__blog__item element__blog__item--first" unselectable>

          <div class="blog__item__icon"><img height="100%" src="{% static 'css/white.png' %}"></div>

          <div class="blog__item__description">

            <h1>Proteus project<span>Информационная система</span></h1>

          </div>

        </div>

        <div style="height: auto !important" class="element__blog__item element__blog__item--news" unselectable>

          <section class="blog__item__workspace">

            <h3>Последние новости:</h3>

            <div class="item__workspace__part" style="background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url({{feed.items.0.links.1.href}})">

              <h2>{{feed.items.0.title}}</h2>

              <span>{{feed.items.0.summary}}</span>

              <div class="workspace__part__tags">

                {% for tag in feed.items.0.tags %}

                <a href="/tags/{{tag.term.split|join:'-'}}">{{tag.term}}</a>

                {% endfor %}

              </div>

              <article class="workspace__part__info">

                <section class="workspace__part__info__get" style="width: auto !important">

                  <div class="info__get__reaction"><span>Дата публикации: {{feed.items.0.published}}</span></div>

                </section>

                <a target="_blank" href="{{feed.items.1.links.0.href}}" class="info__get__url">Просмотреть статью</a>

              </article>

            </div>

            <div class="item__workspace__part" style="background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url({{feed.items.1.links.1.href}})">

              <h2>{{feed.items.1.title}}</h2>

              <span>{{feed.items.1.summary}}</span>

              <div class="workspace__part__tags">

                {% for tag in feed.items.1.tags %}

                <a href="/tags/{{tag.term.split|join:'-'}}">{{tag.term}}</a>

                {% endfor %}

              </div>

              <article class="workspace__part__info">

                <section class="workspace__part__info__get" style="width: auto !important">

                  <div class="info__get__reaction"><span>Дата публикации: {{feed.items.1.published}}</span></div>

                </section>

                <a target="_blank" href="{{feed.items.1.links.0.href}}" class="info__get__url">Просмотреть статью</a>

              </article>

            </div>

          </section>

        </div>

      </section>

    </article>

  </section>

{% endblock %}
