{% extends "wrapper.html" %}

{% load staticfiles %}

{% block head %}

<link href="{% static 'css/fontello.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

  <!-- Main section -->
  <section handler class="main" role="main">

    {% include 'header.html' %}

    <!-- Main element initialization -->
    <article element>

      <section class="element__blog">

        <div class="element__blog__item element__blog__item--first" unselectable>

          <div class="blog__item__icon"><img height="100%" src="{% static 'css/white.png' %}"></div>

          <div class="blog__item__description">

            <h1>Proteus project<span>Информационная система</span></h1>

          </div>

        </div>

        <div style="height: auto !important" class="element__blog__item element__blog__item--news" unselectable>

          <section class="blog__item__workspace">

            <h3>Последние новости:</h3>

            <div class="item__workspace__part" style="background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({% static 'test.jpg' %})">

              <h2>Рыбка села на шпагат</h2>

              <span>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастли</span>

              <article class="workspace__part__info">

                <section class="workspace__part__info__get">

                  <div class="info__get__reaction"><i class="icon-up-bold"></i><span>12</span></div>

                  <div class="info__get__reaction"><i class="icon-down-bold"></i><span>2</span></div>

                  <div class="info__get__reaction"><i class="icon-eye"></i><span>75</span></div>

                </section>

                <a class="info__get__url">Просмотреть статью</a>

              </article>

            </div>

            <div class="item__workspace__part" style="background: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url({% static 'test.jpg' %})">

              <h2>Второй раз рыбка села на шпагат</h2>

              <span>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастли</span>

              <article class="workspace__part__info">

                <section class="workspace__part__info__get">

                  <div class="info__get__reaction"><i class="icon-up-bold"></i><span>12</span></div>

                  <div class="info__get__reaction"><i class="icon-down-bold"></i><span>2</span></div>

                  <div class="info__get__reaction"><i class="icon-eye"></i><span>75</span></div>

                </section>

                <a class="info__get__url">Просмотреть статью</a>

              </article>

            </div>

          </section>

        </div>

        <div style="height: auto !important" class="element__blog__item element__blog__item--news" unselectable>

        </div>

      </section>

    </article>

  </section>

{% endblock %}
