{% extends "wrapper.html" %}

{% load staticfiles %}

{% block head %}

<link href="{% static 'css/fontello.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

  <!-- Main section -->
  <section handler class="main" role="main">

    {% include 'header.html' %}

    <!-- Main element initialization -->
    <article element>

      <section class="element__blog">

        <div class="element__blog__item element__blog__item--first" unselectable>

          <div class="blog__item__icon"><img height="100%" src="{% static 'css/white.png' %}"></div>

          <div class="blog__item__description">

            <h1>Proteus project<span>Информационная система</span></h1>

          </div>

        </div>

        <div style="height: auto !important" class="element__blog__item element__blog__item--news" unselectable>

          <section class="blog__item__workspace">

            {% if request.COOKIES.login %}
            <div class="item__workspace__alert">Ваш аккаунт успешно авторизован</div>
            {% endif %}

            <h3>Последние новости: </h3>

            {% for post in feed.items %}

            <div class="item__workspace__part" style="background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url({{post.links.1.href}})">

              <h2>{{post.title}}</h2>

              <span>{{post.summary}}</span>

              <div class="workspace__part__tags">

                {% for tag in post.tags %}

                <a href="/tags/{{tag.term.split|join:'-'}}">{{tag.term}}</a>

                {% endfor %}

              </div>

              <article class="workspace__part__info">

                <section class="workspace__part__info__get" style="width: auto !important">

                  <div class="info__get__reaction"><span>Дата публикации: {{post.published}}</span></div>

                </section>

                <a target="_blank" href="{{post.links.0.href}}" class="info__get__url">Просмотреть статью</a>

              </article>

            </div>

            {% endfor %}

          </section>

        </div>

      </section>

    </article>

  </section>

  <section class="hidden">

    <svg id="icon--ui__rating-up" viewBox="0 0 18 10"><path d="M17.85 9.65c.1-.1.15-.25.15-.35 0-.15-.05-.25-.15-.35L9.8.4C9.65.2 9.35.05 9 .05c-.35 0-.65.15-.8.35L.15 8.95a.6.6 0 0 0 0 .7c.15.2.5.35.8.35h16.1c.35 0 .65-.15.8-.35z" fill-rule="evenodd"></path></svg>

    <svg id="icon--ui__rating-down" viewBox="0 0 18 10"><path d="M17.85.35c.1.1.15.25.15.35 0 .15-.05.25-.15.35L9.8 9.6c-.15.2-.45.35-.8.35-.35 0-.65-.15-.8-.35L.15 1.05a.6.6 0 0 1 0-.7C.3.15.65 0 .95 0h16.1c.35 0 .65.15.8.35z" fill-rule="evenodd"></path></svg>

  </section>

{% endblock %}
