{% extends "wrapper.html" %}

{% load staticfiles %}

{% block head %}

<link href="{% static 'css/fontello.css' %}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

  <!-- Main section -->
  <section handler class="main" role="main">

    {% include 'header.html' %}

    <!-- Main element initialization -->
    <article element>

      <section class="element__blog">

        <div class="element__blog__item element__blog__item--first" unselectable>

          <div class="blog__item__icon"><img height="100%" src="{% static 'css/white.png' %}"></div>

          <div class="blog__item__description">

            <h1>Proteus project<span>Информационная система</span></h1>

          </div>

        </div>

        <div style="height: auto !important" class="element__blog__item element__blog__item--news" unselectable>

          <section class="blog__item__workspace">

            {% if request.COOKIES.login %}
            <div class="item__workspace__alert">Ваш аккаунт успешно авторизован</div>
            {% endif %}

            <h3>Популярные новости: </h3>

            {% for post in feed %}

            <div class="item__workspace__part" style="background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url({{post.1.1.0.links.1.href}})">

              <h2>{{post.1.1.0.title}}</h2>

              <span>{{post.1.1.0.summary}}</span>

              <div class="workspace__part__tags">

                {% for tag in post.1.1.0.tags %}

                <a href="/tags/{{tag.term.split|join:'-'}}">{{tag.term}}</a>

                {% endfor %}

              </div>

              <article class="workspace__part__info" id="{{post.0}}">

                <section class="workspace__part__info__get">

                  <div id="likes" class="info__get__reaction">
                    <button type="submit" onClick="executor.setLike(this.getAttribute('token'))" token="{{post.0}}" data="like"><i class="icon-up-bold"><span>{{post.1.1.1.likes}}</span></i></button>
                  </div>

                  <div id="dislikes" class="info__get__reaction">
                    <button type="submit" onClick="executor.setDislike(this.getAttribute('token'))" token="{{post.0}}" data="dislike"><i class="icon-down-bold"><span>{{post.1.1.1.dislikes}}</span></i></button>
                  </div>

                  <div id="views" class="info__get__reaction">
                    <a target="_blank" href="{{post.1.1.0.links.0.href}}" token="{{post.0}}" onClick="executor.addView(this.getAttribute('token'))"><i class="icon-eye"><span>{{post.1.1.1.views}}</span></i></a>
                  </div>

                </section>

                <a target="_blank" token="{{post.0}}" onClick="executor.addView(this.getAttribute('token'))" href="{{post.1.1.0.links.0.href}}" class="info__get__url">Просмотреть статью</a>

              </article>

            </div>

            {% endfor %}

          </section>

        </div>

      </section>

    </article>

  </section>

  <script src="{% static 'js/reactions.js' %}"></script>

{% endblock %}
